{% extends 'tw_base_main.html' %}
{% load static %}
{% block title %}آرمان تفکر آسمان{% endblock %}


{% block header %}{% endblock %}
{% block footer %}
    <a href="">
        <img id="chelseru-logo" src="{% static 'imgs/chelseru_logo_256w.png' %}" width="32" height="32" alt="طراحی و توسعه نرم افزار چلسرو" class="rounded-full shadow hover:bg-blue-500">
    </a>
    <h1 id="" class="text-center w-full text-blue-100 text-sm">{{chelseru.lu}}</h1>
{% endblock %}

{% block body_main %}
<div class="flex justify-center w-full h-full text-blue-900">
    
</div>

{% endblock %}
