{% extends 'tw_base_main.html' %}
{% load static %}
{% block title %}چلسرو{% endblock %}


{% block header %}{% endblock %}
{% block footer %}
    <a href="">
        <img id="chelseru-logo" src="{% static 'imgs/chelseru_logo_256w.png' %}" width="32" height="32" alt="طراحی و توسعه نرم افزار چلسرو" class="rounded-full shadow hover:bg-blue-500">
    </a>
    <h1 id="" class="text-center w-full text-blue-100 text-sm">{{chelseru.lu}}</h1>
{% endblock %}

{% block body_main %}
<div class="flex flex-col justify-center items-center w-full h-full text-blue-900">
	<img src="{% static 'imgs/ChelseruBrowser.png' %}" width="250">
	<div class="bg-white pl-2 pr-2 rounded rounded-xl">
		<input type='text' class="bg-white" size="30">
	</div>
</div>

{% endblock %}
